# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python компилированные файлы
**/__pycache__/
*.pyc

# Настройки VS Code и PyCharm
.vscode/
.idea/

# Файлы окружения с секретами (пароли, ключи БД)
.env